.user-card {
  padding-top: 62px;
  width: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.user-card--image {
  border-radius: 50%;
}

.user-card--title {
  margin-top: 17px;
  width: inherit;
  overflow-wrap: break-word;
  line-height: 28px;
}

.user-card--position {
  margin-top: 8px;
}
.user-card--position,
.user-card--phone,
.user-card--email {
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip {
  position: relative;
  width: inherit;
  cursor: pointer;
}

.tooltip p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
}

.tooltip span {
  display: none;

  width: max-content;
  max-width: calc(100vw - 30px);
  text-align: center;
  padding: 5px;

  overflow-wrap: break-word;

  position: absolute;
  z-index: 5;
  bottom: -40;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid $mainBorderColor;
  border-radius: 6px;

  background-color: $modalOwerlayBackgroundColo;
  color: $lightTextColor;
}
.tooltip:hover span {
  display: block;
}

@media (max-width: 767px) {
  .user-card {
    padding-top: 36px;
  }
}
