.menu {
  top: 0px;
  left: 0;
  width: 288px;
  position: absolute;
  display: none;
}

.header--menu {
  background-color: $mainBGC;
  overflow-y: scroll;
  height: calc(100vh - 40px);
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $logoColor;
  }
}

.header--menu-icon {
  display: none;
  outline: none;
  padding: 8px;
  padding-right: 0;
  box-sizing: content-box;
  cursor: pointer;
  &:focus + .menu {
    display: inline-block;
  }
}

.menu--head {
  padding-top: 8px;
  padding-bottom: 6px;
  width: 100%;
  background-color: $mainBGC;
}

.menu--section {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 25px;
  padding-bottom: 5px;
  border-top: 1px solid $mainBorderColor;
}

@media (max-width: 767px) {
  .header--menu-icon {
    display: inline-block;
  }
  .header--navigation-link {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 19px;
    &:hover {
      color: $primaryColor;
    }
    &:active {
      color: $seconduryolor;
    }
  }
}
